<html><head>
<title></title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
<script type="text/javascript">
$('html').ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    //if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
        // Only send the token to relative URLs i.e. locally.
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    //}
});
</script>
<!--<link href="/css/pepper-grinder/jquery-ui-1.8.11.custom.css" type="text/css" rel="stylesheet">-->
<link href="/css/trontastic/jquery-ui-1.8.11.custom.css" type="text/css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
	<style>
	body {
	  font-family:'Orbitron', 'monospace';
	  
	}

	.toolbar {
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 3px;
		padding-bottom: 3px;
		
		margin-top: 0.5em;
		margin-bottom: 1em;
		margin-right: 1em;
		font-size: 80%;
	}
	ul {
       list-style: none;
	  padding-left: 0px;

    }
	#songInfoDiv {
      margin-bottom: 1em;
    }
	#tabs {
	  clear: both;
	  margin: 1em 0em;
	  border-radius: 15px;
	  box-shadow: inset 1px 6px 32px lightgrey, inset -1px -5px 15px grey, 1px 2px 1px black;

	  
	}
	#progressbar {
	  width: 100%;
	}
	#durationSpan {
	  padding-top: 1em;
	  float: left;
	  width: 12em;
	  text-align: center;
	  height: 1.8em;
	 
	}
	#controlSpan {
	  height:2.5em;
	  float: left;
	  vertical-align: middle;
    }
#fileList li, #playList li { margin: 0 5px 5px 5px; padding: 5px;  width: 300px }

.tabitem a { width:300px }	
	</style>
</head>
<body>
<script type="text/javascript">
var player;
var currentList = "#fileList";
$(document).ready( function() {

  $(".jqbutton").button();
  $("#playPauseBtn").button({
            icons: {
                primary: "ui-icon-play"
            },text: false});
  $(".upBtn").button({
            icons: {
                primary: "ui-icon-arrowreturnthick-1-w"
            },text: false});
  $("#stopBtn").button({
            icons: {
                primary: "ui-icon-stop"
            },text: false});
  $("#prevNextSpan").buttonset();
  $("#prevBtn").button({
            icons: {
                primary: "ui-icon-seek-prev"
            },text: false});
  $("#nextBtn").button({
            icons: {
                primary: "ui-icon-seek-next"
            },text: false});
  $("#shuffleRepeatSpan").buttonset();
  $("#shuffleBtn").button({
            icons: {
                primary: "ui-icon-shuffle"
            },text: false});
  $("#repeatBtn").button({
            icons: {
                primary: "ui-icon-refresh"
            },text: false});

  
  $( "#fileList, #playList" ).sortable().disableSelection();
  var $tabs = $("#tabs").tabs();
  var $tab_items = $( "ul:first li", $tabs ).droppable({
			accept: ".connectedSortable li",
			hoverClass: "ui-state-hover",
			drop: function( event, ui ) {
				var $item = $( this );
				var $list = $( $item.find( "a" ).attr( "href" ) )
					.find( ".connectedSortable" );

				ui.draggable.hide( "slow", function() {
					$tabs.tabs( "select", $tab_items.index( $item ) );
					$( this ).appendTo( $list ).show( "slow" );
				});
			}
		})
  player = $('#player').get(0);
  if (localStorage["currentPath"] == undefined) {
	localStorage["currentPath"] = "";
  }
  if (localStorage["playListMetaData"] != undefined) {
	getFilesCallback(JSON.parse(localStorage["playListMetaData"]), null, null, true);

  }
  getFiles(localStorage["currentPath"]);
  updateAudioInfo();
  $(player).bind('ended', function(){playNext()});
  $(player).bind('timeupdate', function(){updateAudioInfo()});
  $(player).bind('loadedmetadata', function(){updateAudioInfo()});
  $(player).bind('loadstart', function(){$('#loadingSpan').show()});
  $(player).bind('loadeddata', function(){$('#loadingSpan').hide()});
$( "#progressbar" ).progressbar({
			value: 0
		});
});
function updateAudioInfo() {
  if (localStorage["currentList"] == "#playList") {
	var metaData = JSON.parse(localStorage["playListMetaData"]);
  } else {
	var metaData = JSON.parse(localStorage["filesMetaData"]);
  }
  $(localStorage["currentList"]+" a").removeClass("ui-state-highlight");
  $(localStorage["currentList"]+" .songItem"+localStorage["currentTrack"]).addClass("ui-state-highlight");
  if (metaData[localStorage["currentTrack"]] != undefined && metaData[localStorage["currentTrack"]][1] != undefined){
    if (metaData[localStorage["currentTrack"]][1]["artist"] == undefined) {
	artist = "";
  } else {
	artist = metaData[localStorage["currentTrack"]][1]["artist"][0];
  }
  if (metaData[localStorage["currentTrack"]][1]["title"] == undefined) {
	title = metaData[localStorage["currentTrack"]][0];
  } else {
	title = metaData[localStorage["currentTrack"]][1]["title"][0];
  }
    if (metaData[localStorage["currentTrack"]][1]["album"] == undefined) {
	album = "";
  } else {
	album = metaData[localStorage["currentTrack"]][1]["album"][0];
  }
  $('#artistSpan').text(artist);
  $('#titleSpan').text(title);
  $('#albumSpan').text(album);
  }
  $('#durationSpan').text(convertSeconds(parseInt(player.currentTime))+" / "+convertSeconds(parseInt(player.duration)));
  //$('#currentTrackSpan').text(localStorage["currentTrack"]+1);
  progress = player.currentTime * 100 / player.duration;
  $('#progressbar div').animate({'width': progress + '%' },{ queue:false, duration:500, easing:"linear" });
   
}
function convertSeconds(seconds) {
  if (isNaN(seconds)) {
	return "0:00";
  }
  minutes = parseInt(seconds / 60);
  seconds = seconds % 60;
  if (seconds < 10) {
	  seconds = "0"+seconds
  }

  return minutes+":"+seconds;

}

function resortArray(array, from, to) {
  element = array.splice(from, from);
  array.splice(to, 0, element[0]);
  return array;

}

function stopPlaying() {
  player.pause();
  player.currentTime=0;
}
function loadSong(song, trackNumber) {
player.setAttribute('src', '/music/'+song);

player.load();
playPause();
localStorage["currentTrack"] = trackNumber;
}
function playPause() {
  if (player.paused) {
    player.play();
	$("#playPauseBtn").button({
            icons: {
                primary: "ui-icon-pause"
            },text: false})
  } else {
    player.pause();
	$("#playPauseBtn").button({
            icons: {
                primary: "ui-icon-play"
            },text: false})
  }
}
function getFiles(path) {
  $.post("/getFiles", {"path":path}, function(data){getFilesCallback(data[0],data[1],path)})
}
function getPlaylist() {
  $.post("/getPlaylist", {}, function(data){getFilesCallback(data[0],data[1],".", true)})
}
function getFilesCallback(files, dirs, path, playList) {
  
  if (playList != true) {
	localStorage["currentPath"] = path;
	localStorage["currentTrack"] = undefined;
	localStorage["filesMetaData"] = JSON.stringify(files);
  
	$('#dirList').empty();
	$('#fileList').empty();
	for (i in dirs) {
	  $('#dirList').append($("<li><a id='dirItem"+i+"' href='#'>"+path+"/"+dirs[i]+"</a>"));
	  // hack: $.attr('onclick', foo) doesn't work in chrome, $.bind('click', foo) binds the last handler to every item (at least in opera)
	  $('#dirItem'+i).get(0).setAttribute('onclick', 'getFiles("'+path+'/'+dirs[i]+'");return false;');
	}
	list = "#fileList";
  } else {
	localStorage["playListMetaData"] = JSON.stringify(files);
	list = "#playList";
	$(list).empty();
  }
	for (i in files) {
	  if (files[i][1]["title"] == undefined) {
		title = files[i][0];
	  } else {
		title = files[i][1]["title"];
	  }
	  $(list).append($("<li><a href='#' class='songItem"+i+"'>"+title+"</a>"));
	  // hack: $.attr('onclick', foo) doesn't work in chrome, $.bind('click', foo) binds the last handler to every item (at least in opera)
	  $(list+' .songItem'+i).get(0).setAttribute('onclick', 'localStorage["currentList"]="'+list+'";loadSong("'+files[i][0]+'", '+i+');return false;');
    

	}
	//loadSong(files[0][0],0);
}
function getParentDir(path) {
  list = path.split("/");
  list.pop();
  return list.join("/");

}
function playNext() {
  numTracks = $(localStorage["currentList"]).children().length;
  if ($('#shuffleBtn').attr("checked")) {
    nextTrack = parseInt(Math.random()*numTracks);
  } else {
	nextEle = $(localStorage["currentList"]+' .songItem'+(localStorage["currentTrack"])).parent().next().children();
	if ($('#repeatBtn').attr("checked") && nextEle.length == 0) {
	  nextEle = $($(localStorage["currentList"]).children()[0]).children();
	}
  }
  $(nextEle).click();
  
}
function playPrev() {
  $(clocalStorage["currentList"]+' .songItem'+(localStorage["currentTrack"])).parent().prev().children().click();
  
}
</script>
<div id='playerDiv'>
<div id='songInfoDiv'>
<div>Artist: <span id="artistSpan"></span></div>
<div>Title: <span id="titleSpan"></span></div>
<div>Album: <span id="albumSpan"></span></div>
<div>Track Number: <span id="currentTrackSpan"></span></div>
<div id='progressbar'></div>
</div>

<div id="toolbarContainerDiv">

<span id="controlSpan" class="ui-widget-header ui-corner-all toolbar">

<button onclick="playPause()" id="playPauseBtn">Play/Pause</button>
<button onclick="stopPlaying()" id="stopBtn">Stop</button>
<span id="prevNextSpan">
<button onclick="playPrev()" id="prevBtn">Prev</button>
<button onclick="playNext()" id="nextBtn">Next</button>
</span>
<span id="shuffleRepeatSpan">
<input type="checkbox" id="shuffleBtn">
<label for=shuffleBtn>Shuffle</label>
<input type="checkbox" id="repeatBtn" name="repeatBtn" value="Repeat">
<label for=repeatBtn>Repeat</label>
</span>
</span>
<span id="durationSpan" class="ui-widget-header ui-corner-all toolbar"><span></span></span>
<span id="loadingSpan" style="display:none">Loading...</span>
</div>
<div id='tabs'>
  <ul>
	<li class="tabitem"><a href="#fileListDiv">Files</a></li>
	<li class="tabitem"><a href="#playListDiv">Playlist</a></li>
  </ul>
  <div id='fileListDiv'>
	<a onclick="getFiles(getParentDir(localStorage['currentPath']))" class="upBtn">One dir up</a>
	<ul id="dirList">

	</ul>
	<ul id="fileList" class="connectedSortable ui-helper-reset">

	</ul>
  </div>
  <div id="playListDiv" >
	<ul id="playList" class="connectedSortable ui-helper-reset">

	</ul>
  </div>
</div>
<audio src="" id="player">
 Your browser does not support the audio element.
 </audio>
</body>
</html>